<p>Products</p>

<div class="products">
  @for (product of productForm(); track $index) {
    <div class="product">
      <div class="form-control">
        <mat-form-field>
          <mat-label>Product {{ $index + 1 }}</mat-label>
          <mat-select [formField]="product.name" [multiple]="false">
            @for (product of productTypes; track $index) {
              <mat-option [value]="product">{{ product }} </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <app-form-error [fieldRef]="product.name" />
      </div>

      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input [formField]="product.quantity" type="number" matInput />
        </mat-form-field>

        <app-form-error [fieldRef]="product.quantity" />
      </div>

      <button type="button" matButton="outlined" (click)="removeProduct.emit($index)">
        Remove
      </button>
    </div>
  }
  <button (click)="addProduct.emit()" matButton>Add Product</button>
</div>
