<form (submit)="submit($event)">
  <div class="actions">
    <button type="button" matButton="outlined" (click)="setEmail()">Set Email</button>

    <button type="button" matButton="outlined" (click)="setEmailAndPassword()">
      Set Email & Password
    </button>

    <button type="button" matButton="outlined" (click)="toggleAge()">Toggle Age</button>
    <button type="button" matButton="outlined" (click)="addAddress()">Add address!</button>
    <button type="button" matButton="outlined" (click)="setName()">Set Name</button>
    <button type="button" matButton="outlined" (click)="toggleName()">Toggle Name</button>
  </div>

  <mat-label>Name</mat-label>
  <app-my-custom-input [formField]="loginForm.name"></app-my-custom-input>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input [formField]="loginForm.email" matInput placeholder="Email" />
  </mat-form-field>
  @if (loginForm.email().touched() && loginForm.email().invalid()) {
    @for (error of loginForm.email().errors(); track error) {
      <mat-error>{{ error.message }}</mat-error>
    }
  }

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input [formField]="loginForm.password" matInput placeholder="Password" />
  </mat-form-field>
  @if (loginForm.password().touched() && loginForm.password().invalid()) {
    @for (error of loginForm.password().errors(); track error) {
      <mat-error>{{ error.message }}</mat-error>
    }
  }

  @if (!loginForm.age().disabled()) {
    <mat-form-field appearance="outline">
      <mat-label>Age</mat-label>
      <input [formField]="loginForm.age" type="number" matInput placeholder="Age" />
    </mat-form-field>
    @if (loginForm?.age()?.touched() && loginForm?.age()?.invalid()) {
      @for (error of loginForm?.age()?.errors(); track error) {
        <mat-error>{{ error.message }}</mat-error>
      }
    }
  }

  @for (address of loginForm.address; track $index) {
    <mat-form-field appearance="outline">
      <mat-label>Address {{ $index + 1 }}</mat-label>
      <input [formField]="address" type="string" matInput placeholder="Address" />
    </mat-form-field>
  }

  <button type="submit" matButton="filled" [disabled]="!loginForm().valid()">Submit</button>
</form>
