mat-drawer {
  display: flex;
  gap: 1rem;
  padding: 10px;
  background-color: var(--mat-sys-surface-dim);
}

main {
  min-height: 100vh;
  background-color: var(--mat-sys-background);
  padding: 2rem;
}
